<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <h1>TODOs</h1>

    <form method="post" action="/add-todo">
      <input type="text" name="title" />
      <button type="submit">Přidat todo</button>
    </form>

    <div id="todos"><%- include('_todos.html') %></div>

    <script>
      const ws = new WebSocket('ws://localhost:8000/ws');

      ws.addEventListener('open', () => {
        console.log('WS open');
        ws.send('Hello, World!');
      });

      ws.addEventListener('message', (ev) => {
        const json = JSON.parse(ev.data);
        if (json.type === 'todos') {
          document.getElementById('todos').innerHTML = json.html;
        }
      });
    </script>
  </body>
</html>
